@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    transition: transform .15s linear;
}
