<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Discussion</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel='shortcut icon' href='/static/public/images/favicon.ico' type='image/x-icon'/ >
    </head>
    <body>
        <nav class="box-shadow">
            <a href="/dash2">
                <img class="nav-logo" src="/static/public/images/logo2.png">
            </a>
            <div class="nav-component-div">
                <a href="/dash2">
                    <button class="nav-component">Dashboard</button>
                </a>
                <button class="nav-component logout">Logout</button>
            </div>
            <img class="hamburger" src="../static/public/images/hamburger.png">
        </nav>
        <div class="mobile-nav-component-div">
            <a href="/dash2">
                <p>Dashboard</p>
            </a>
            <p class="logout">Logout</p>
        </div>
        <header>
            <a href="/dash2">
                <img class="back-icon" src="/static/public/images/back.png">
                <p>Dashboard</p>
            </a>
            <h2>Have Your Say</h2>
        </header>
        <main>
            <div class="category"></div>
            <div class="opinion-piece">
                <div class="opinion-piece-image">
                </div>
                <div class="opinion-piece-text">
                </div>
                <div class="opinion-piece-category"></div>
            </div>
            <div class="responses-container">
                <div class="response-form">
                    <img src="/static/public/images/face.png">
                    <h2>Your Response</h2>
                    <form method="POST" action="/api/addResponse">
                        <p>Describe your opinion in three words.</p>
                        <input class="threewords" type="text" name="threeWords">
                        <div class="assignment-question"></div>
                        <textarea name="response"></textarea>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/public/js/data.js"></script>
        <script src="/static/public/js/script.js"></script>
    </body>
</html>
