<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Discussion</title>
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="#">
        </nav>
        <main>
            <img class="back-icon" src="#">
            <p>Home</p>
            <h2>Have Your Say</h2>
            <div class="opinion-piece">
                <img src="#">
                <h2>{opinion piece title}</h2>
                <p>{opinion piece text}</p>
            </div>
            <div class="response-form">
                <img src="#">
                <h2>{student name}</h2>
                <form class="add-response-form">
                    <p>Describe your opinion in three words.</p>
                    <input type="text">
                    <p>Should the British Museum give back the Elgin Marbles?</p>
                    <input type="text">
                    <input type="submit">
                </form>
            </div>
            <div class="responses-div">
                <div class="student-response">
                    <img src="#">
                    <h2>{student name}</h2>
                    <p class="post-time">{time stamp}</p>
                    <p>{insert three words here}</p>
                    <p>{insert response here}</p>
                </div>
                <div class="student-response">
                    <img src="#">
                    <h2>{student name}</h2>
                    <p class="post-time">{time stamp}</p>
                    <p>{insert three words here}</p>
                    <p>{insert response here}</p>
                </div>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
        </div>
    </body>
</html>
