<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Discussion</title>
        <link rel="stylesheet" href="../css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="https://mail.google.com/mail/u/0/?ui=2&ik=cdf7762786&view=fimg&th=14ed95c1b677277c&attid=0.2&disp=inline&realattid=f_icomr6tl1&safe=1&attbid=ANGjdJ-Kzw4PoCmE73ZH3uwyrHq10n3AFyogy9jRmdaoRB1iqQSPR8Fz8P7h5aX1BynpwA1EMaxQ8_bemRARpWmzHfIrGxCGQOq9FSHSMRSl3OnxjmwXnGG2SeI65a0&ats=1438248781677&rm=14ed95c1b677277c&zw&sz=w1364-h605">
        </nav>
        <main>
            <img class="back-icon" src="#">
            <p>Home</p>
            <h2>Have Your Say</h2>
            <div class="opinion-piece">
                <img src="#">
                <h2>{opinion piece title}</h2>
                <p>{opinion piece text}</p>
            </div>
            <div class="response-form">
                <img src="#">
                <h2>{student name}</h2>
                <form class="add-response-form">
                    <p>Describe your opinion in three words.</p>
                    <input type="text">
                    <p>Should the British Museum give back the Elgin Marbles?</p>
                    <input type="text">
                    <input type="submit">
                </form>
            </div>
            <div class="responses-div">
                <div class="student-response">
                    <img src="#">
                    <h2>{student name}</h2>
                    <p class="post-time">{time stamp}</p>
                    <p>{insert three words here}</p>
                    <p>{insert response here}</p>
                </div>
                <div class="student-response">
                    <img src="#">
                    <h2>{student name}</h2>
                    <p class="post-time">{time stamp}</p>
                    <p>{insert three words here}</p>
                    <p>{insert response here}</p>
                </div>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
        </div>
    </body>
</html>
