<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Incomplete response</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel='shortcut icon' href='/static/public/images/favicon.ico' type='image/x-icon'/ >
    </head>
    <body>
        <div></div>
        <nav class="box-shadow">
            <img class="nav-logo" src="../static/public/images/logo2.png">
        </nav>
        <header>
            <h2>Whoops...</h2>
        </header>
        <main>
            <div class="error-container">
                <h3>You haven't completed your response.</h3><br>
                <p>Make sure you have described your opinion in <strong>3 words </strong> and <strong>answered the question</strong>.</p>
                <br>
                <button class="nav-component go-back">Go back</button>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/public/js/redirect.js" charset="utf-8"></script>
    </body>
</html>
