<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JustOpine</title>
        <link rel="stylesheet" href="/static/public/css/landing.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="landing-container">
            <h2 class="tag-line">A place for students to share opinions.</h2>
            <button class="sign-in">SIGN IN</button>
            <button id="testrequest" onclick="sendRequest();">Testrequest</button>
        </div>
        <script type="text/javascript">
            function sendRequest(){
                var obj = {
                    dbmethod: "addTeacher",
                    firstname : "Edita",
                    lastname : "Memisi",
                    role : "teacher"
                };

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/justopineapi');
                xhr.send(JSON.stringify(obj));
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                      console.log(xhr.responseText);
                    }
                };
            };
        </script>
    </body>
</html>
