<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>JustOpine</title>
        <link rel="stylesheet" href="/static/public/css/landing.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.18.0.css">
    </head>
    <body>
        <!-- <div id="qunit"></div>
        <div id="qunit-fixture"></div> -->
        <div class="landing-container">
            <form class="landing-container-secondview">
                <h3>Enter your username and password to log in.</h3>
                <span class="input-container">
                    <p>Username:</p>
                    <input type="text" class="sign-in-input">
                </span>
                <span class="input-container">
                    <p>Password:</p>
                    <input type="password" class="sign-in-input">
                </span>
                <input type="submit" class="sign-in-submit" value="SUBMIT">
            </form>
            <div class="landing-container-firstview">
                <img class="landing-logo" src="../static/public/images/logo1.png">
                <h2 class="tag-line">A place for students to share opinions.</h2>
                <button class="sign-in">SIGN IN</button>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="/static/public/index.js"></script>
        <!-- // <script src="//code.jquery.com/qunit/qunit-1.18.0.js"></script>
        // <script src="/static/test/frontend-tests.js"></script> -->
    </body>
</html>
