<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Missing username/password</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel='shortcut icon' href='/static/public/images/favicon.ico' type='image/x-icon'/ >
    </head>
    <body>
        <div></div>
        <nav class="box-shadow">
            <a href="/dash1">
                <img class="nav-logo" src="../static/public/images/logo2.png">
            </a>
        </nav>
        <header>
            <h2>Error</h2>
        </header>
        <main>
            <div class="error-container">
                <p>Please enter a username and/or password.</p>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="static/public/js/redirect.js" charset="utf-8"></script>
    </body>
</html>
