<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Students</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.18.0.css"> -->
    </head>
    <body>
        <!-- <div id="qunit"></div>
        <div id="qunit-fixture"></div> -->
        <div></div>
        <nav>
            <a href="/dash1">
                <img class="nav-logo" src="../static/public/images/logo2.png">
            </a>
            <div class="nav-component-div">
                <a href="/dash1">
                    <button class="nav-component">Dashboard</button>
                </a>
                <a href="/classes">
                    <button class="nav-component">Class Lists</button>
                </a>
                <a href="/new">
                    <button class="nav-component">Set Assignment</button>
                </a>
            </div>
        </nav>
        <header>
            <a href="/classes">
                <img class="back-icon" src="../static/public/images/back.png">
                <p>All classes</p>
            </a>
            <h2 class="pupils-page-title"></h2>
        </header>
        <main>
            <div class="student-list">
                <button class="add-student">+ Add Student</button>
                <table>
                  <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Level</th>
                  </tr>
                </table>
            </div>
        </main>
        <div class="add-student-lightbox">
            <img class="exit-button-student" src="../static/public/images/exit.png">
            <form class="add-student-form" method="POST">
                <p>First name:</p>
                <input type="text" name="firstname">
                <p>Surname:</p>
                <input type="text" name="surname">
                <p>Current working level:</p>
                <input type="text" name="level">
                <p>Username:</p>
                <input type="text" name="username">
                <p>Password:</p>
                <input type="text" name="password">
                <input type="submit">
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- <script src="//code.jquery.com/qunit/qunit-1.18.0.js"></script> -->
        <script src="/static/public/js/script.js"></script>
        <script src="/static/public/js/data.js"></script>
        <!-- <script src="/static/test/qunit/data-tests.js"></script> -->
    </body>
</html>
