<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>register</title>
        <link rel='shortcut icon' href='/static/public/images/favicon.ico' type='image/x-icon'/ >
    </head>
    <body>
        <h1>REGISTER A TEACHER</h1>
        <form class="">
            <input type="text" name="firstname" id="firstname" placeholder="firstname">
            <input type="text" name="surname" id="surname" placeholder="surname">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="text" name="password" id="password" placeholder="password">
            <input type="text" name="isTeacher" id="isTeacher" placeholder="isTeacher">
            <input type="text" name="isAdmin" id="isAdmin" placeholder="isAdmin">
            <button id="testrequest" onclick="sendRequest();">Submit</button>
        </form>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/public/js/script.js" charset="utf-8"></script>

    </body>
</html>
