<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>register</title>
    </head>
    <body>
        <h1>REGISTER A TEACHER</h1>
        <form class="">
            <input type="text" name="firstname" id="firstname" placeholder="firstname">
            <input type="text" name="surname" id="surname" placeholder="surname">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="text" name="password" id="password" placeholder="password">
            <!-- <input type="submit" name="submit" value="Submit">-->
            <button id="testreques  t" onclick="sendRequest();">Submit</button>
        </form>

        <script type="text/javascript">
            function sendRequest(){
                var firstname = document.getElementById('firstname').value;
                var surname = document.getElementById('surname').value;
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;

                var obj = {
                    dbmethod: "addTeacher",
                    firstname : firstname,
                    surname : surname,
                    username : username,
                    password : password,
                    role : "teacher"
                };

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/justopineapi');
                xhr.send(JSON.stringify(obj));
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                      console.log(xhr.responseText);
                    }
                };
            };
        </script> 
    </body>
</html>
