<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="../static/public/images/logo2.png">
        </nav>
        <main>
            <h2>Current Assignments</h2>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
            <h2>Previous assignments</h2>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
    </body>
</html>
