<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="#">
        </nav>
        <main>
            <h2>Current Assignments</h2>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
            <h2>Previous assignments</h2>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
    </body>
</html>
