<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Discussion</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="../static/public/images/logo2.png">
            <div class="nav-component-div">
                <div class="nav-component">
                    <h3>Dashboard</h3>
                </div>
                <div class="nav-component">
                    <h3>Class Lists</h3>
                </div>
                <div class="nav-component">
                    <h3>Set Assignment</h3>
                </div>
            </div>
        </nav>
        <main>
            <img class="back-icon" src="#">
            <p>Home</p>
            <h2>Current Assignment</h2>
            <button class="add-student-button">+ Add Student</button>
            <div>
                <table class="student-list">
                  <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Level</td>
                  </tr>
                  <tr>
                    <td><img class="student-icon" src="#"></td>
                    <td>{student full name}</td>
                    <td>{level}</td>
                  </tr>
                  <tr>
                    <td><img class="student-icon" src="#"></td>
                    <td>{student full name}</td>
                    <td>{level}</td>
                  </tr>
                </table>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
        <div class="add-student-lightbox">
            <form class="add-student-form">
                <p>Full name:</p>
                <input type="text">
                <p>Current working level:</p>
                <input type="text">
                <p>Username:</p>
                <input type="text">
                <p>Password:</p>
                <input type="text">
                <input type="submit">
            </form>
        </div>
    </body>
</html>
