<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="#">
            <div class="nav-component">
                <h3>Dashboard</h3>
            </div>
            <div class="nav-component">
                <h3>Class Lists</h3>
            </div>
            <div class="nav-component">
                <h3>Set Assignment</h3>
            </div>
        </nav>
        <main>
            <h2>Current assignments</h2>
            <div class="dashboard-assignment">
                <p>{class name}</p>
                <p>{assignment title}</p>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
    </body>
</html>
