<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="../static/public/images/logo2.png">
            <div class="nav-component-div">
                <button class="nav-component logout">Logout</button>
                <button class="nav-component">Dashboard</button>
                <button class="nav-component">Class Lists</button>
                <button class="nav-component">Set Assignment</button>
            </div>
        </nav>
        <header>
            <h2>My Assignments</h2>
        </header>
        <main>
            <div class="dashboard-container">
                <div class="dashboard-assignment">
                    <p>{class name}</p>
                    <p>{assignment title}</p>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="static/public/js/script.js" charset="utf-8"></script>
    </body>
</html>
