<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Class Lists</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="https://mail.google.com/mail/u/0/?ui=2&ik=cdf7762786&view=fimg&th=14ed95c1b677277c&attid=0.2&disp=inline&realattid=f_icomr6tl1&safe=1&attbid=ANGjdJ-Kzw4PoCmE73ZH3uwyrHq10n3AFyogy9jRmdaoRB1iqQSPR8Fz8P7h5aX1BynpwA1EMaxQ8_bemRARpWmzHfIrGxCGQOq9FSHSMRSl3OnxjmwXnGG2SeI65a0&ats=1438248781677&rm=14ed95c1b677277c&zw&sz=w1364-h605">
            <div class="nav-component-div">
                <div class="nav-component">
                    <h3>Dashboard</h3>
                </div>
                <div class="nav-component">
                    <h3>Class Lists</h3>
                </div>
                <div class="nav-component">
                    <h3>Set Assignment</h3>
                </div>
            </div>
        </nav>
        <main>
            <h2>My Classes</h2>
            <div class="class-div">
                <img class="add-icon" src="#" />
                <h4>Add Class</h4>
            </div>
            <div class="class-div">
                <img class="class-icon" src="#" />
                <h4>{class #}</h4>
            </div>
            <div class="class-div">
                <img class="class-icon" src="#" />
                <h4>{class #}</h4>
            </div>
        </main>
        <footer>
            <p>Copyright JustOpine 2015</p>
        </footer>
        <div class="add-class-lightbox">
            <form class="add-class-form">
                <p>Class name:</p>
                <input type="text">
                <input type="submit">
            </form>
        </div>
    </body>
</html>
