<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
        <title>Students</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div></div>
        <nav>
            <a href="/teacherdash">
                <img class="nav-logo" src="../static/public/images/logo2.png">
            </a>
            <div class="nav-component-div">
                <button class="nav-component">Dashboard</button>
                <a href="/classes">
                    <button class="nav-component">Class Lists</button>
                </a>
                <a href="/new">
                    <button class="nav-component">Set Assignment</button>
                </a>
            </div>
        </nav>
        <header>
            <a href="/classes">
                <img class="back-icon" src="../static/public/images/back.png">
                <p>All classes</p>
            </a>
            <h2>Students in {class #}</h2>
        </header>
        <main>
            <div class="student-list">
                <button class="add-student">+ Add Student</button>
                <table>
                  <tr>
                    <th></th>
                    <th>Student Name</th>
                    <th>Level</th>
                  </tr>
                  <tr>
                    <td><img class="student-icon" src="../static/public/images/face.png"></td>
                    <td>{student full name}</td>
                    <td>{level}</td>
                  </tr>
                  <tr>
                    <td><img class="student-icon" src="../static/public/images/face.png"></td>
                    <td>{student full name}</td>
                    <td>{level}</td>
                  </tr>
                </table>
            </div>
        </main>
        <div class="add-student-lightbox">
            <img class="exit-button-student" src="../static/public/images/exit.png">
            <form class="add-student-form">
                <p>Full name:</p>
                <input type="text">
                <p>Current working level:</p>
                <input type="text">
                <p>Username:</p>
                <input type="text">
                <p>Password:</p>
                <input type="text">
                <input type="submit">
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/static/public/js/script.js"></script>
    </body>
</html>
