h2 {
    font-weight: normal;
    text-align: center;
}

header {
    background-color: white;
    margin-top:5px;
    padding: 30px;

    img, p {
        display: inline-block;
    }

    h2 {
        margin: 0 auto;
        text-align: center;
    }

}

main {
    background-color: $turquoise4;
    padding: 20px 100px;
}

@media (max-width: 700px) {

    main {
        padding: 20px 30px;
    }
}
