nav {
    background-color: white;
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    height: 80px;
}

.nav-logo {
    height: 60px;
    float: left;
    padding: 10px;
    width: 60px;
}

.nav-component-div {
    float: right;
}

.nav-component {
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
