.classes-container {
    background-color: white;
    @include box-shadow(1px 2px 10px -1px rgba(0,0,0,0.25));
    font-size: 18px;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
}

.class-div {
    @include box-shadow(1px 2px 10px -1px rgba(0,0,0,0.25));
    display: inline-block;
    margin: 40px;
    padding: 50px 100px;
}

.class-div:hover {
    cursor: pointer;
}

.overlay {
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
}

.add-class-lightbox {
    background-color: white;
    display: none;
    left: 30%;
    margin: 0 auto;
    position: absolute;
    right: 30%;
    top: 40%;

    form {
        height: 200px;
        padding: 40px;
        text-align: center;
        width: 500px;

        input[type="submit"] {
            background-color: $turquoise2;
            display: block;
        }
    }
}
