.student-list {
    background-color: white;
    @include box-shadow(1px 2px 10px -1px rgba(0,0,0,0.25));
    font-size: 18px;
    margin: 20px auto;
    padding: 40px;

    button {
        background-color: $turquoise2;
        float: right;
    }

    table {
        border-collapse: collapse;
        border-spacing: 10px;
        margin-top: 50px;
    }

    th, td {
        padding: 10px;
    }
}

.student-icon {
    height: 30px;
    width: 30px;
}

.add-student-lightbox {
    background-color: white;
    @include box-shadow(1px 2px 10px -1px rgba(0,0,0,0.25));
    display: none;
    max-height: 500px;
    left: 30%;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    right: 30%;
    top: 30%;
    max-width: 600px;

    img {
        cursor: pointer;
        float: right;
        height: 30px;
        width: 30px;
    }

    form {
        font-size: 18px;
        padding: 40px;
        text-align: center;

        p, input[type="text"], input[type="password"] {
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            padding: 5px;
        }

        input[type="submit"] {
            background-color: $turquoise2;
            display: block;
            margin: 15px auto 0 auto;
        }
    }
}

@media (max-width: 1000px) {

    .add-student-lightbox {
        left: 10%;
        right: 10%;

        p, input[type="text"], input[type="password"] {
            font-size: 10px;
        }
    }
}

@media (max-width: 500px) {

    .add-student-lightbox {
        left: 0%;
        top: 20%;
        right: 0%;
    }

    .student-list {
        font-size: 16px;
        padding: 20px 10px;

    }

    .student-icon {
        display: none;
    }
}
