@import '../modules/colours';
@import '../modules/mixins';
@import '../components/buttons';
@import '../components/fonts';

body {
    background-attachment: fixed;
    background-image: url('../../../static/public/images/marbles.jpg');
    background-position: center center;
    background-size: cover;
    color: $fontgrey;
    height: 100%;
    opacity: 0;
    transition: opacity 1.4s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.landing-back-icon {
    text-align: left;
}

.landing-back-icon:hover {
    cursor: pointer;
}

.landing-container {
    background-color: $turquoise4;
    @include box-shadow(3px 5px 20px -1px rgba(0,0,0,0.52));
    height: 250px;
    margin: 100px auto 100px auto;
    overflow: hidden;
    padding: 50px;
    // position: absolute;
    width: 500px;

    .landing-logo {
        height: auto;
        max-width: 100%;
        text-align: center;
    }

    h2 {
        font-weight: normal;
        text-align: center;
    }

    .landing-container-firstview {
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    .landing-container-firstview * {
        position: relative;
        text-align: center;
    }

    .landing-container-secondview {
        display: none;
        position: absolute;
        left: 100%;

        h3 {
            margin-top: 5px;
            text-align: center;
        }

        .input-container {
            display: block;
            text-align: center;
        }

        .input-container > * {
            display: inline;
            margin: 10px;
        }

        .sign-in-input {
            // display: block;
            font-size: 18px;
            margin: 10px auto;
            padding: 5px;
        }
    }
}

@media (max-width: 700px) {

    .landing-back-icon {
        display: none;
    }

    .landing-container {
        width: 200px;
    }
}
